{%extends "main/layout.html" %} {% block content %}
<div class="row p-3">
    <div class="col-sm p-2 border rounded mx-1">
        <form>
            <!-- Select lamp -->
            <div class="form-group my-2 mx-4 px-4">
                <select id="slsamp" class="form-control" style="width: 100%"
                    data-bind="options: onlineLamps, optionsCaption: 'Select lamp', value: selectedLamp"></select>
            </div>
            <div class="strike"><span class="font-weight-light"> or </span></div>
            <!-- Create Lamp-->
            <div class="form-group my-2 mx-4 px-4">
                <button type="button" class="btn btn-info form-control" id="createLamp" data-toggle="modal"
                    data-target="#lampForm" data-bind="click: getDevices">Create
                    new lamp</button>
            </div>

            <!-- Modal for creating lamp-->
            <!-- Modal -->
            <div class="modal fade" id="lampForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Select lamp componenents</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="px-4 py-2">
                                <div class="form-row mb-2">
                                    <div class="col text-center text-muted">
                                        <label for="slbody">Lampbody</label>
                                    </div>
                                    <div class="col">
                                        <select id="slbody" class="form-control" style="width: 100%"
                                            data-bind="options: onlineLampBodies, value:selectedLampBody"></select>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="col text-center text-muted">
                                        <label for="slshade">Lampshade</label>
                                    </div>
                                    <div class="col">
                                        <select id="slshade" class="form-control" style="width: 100%"
                                            data-bind="options: onlineLampShades, value: selectedLampShade"></select>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="col text-center text-muted">
                                        <label for="slname">Lamp name</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" data-bind="value: lname">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-info" data-bind="click: makeLamp">Make lamp</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="col-sm p-2 border rounded mx-1">
        <form>
            <div class="form-group mx-4 px-4">
                <label for="lbody" class="my-auto text-muted"><small>Lamp body</small></label>
                <input type="text" class="form-control" id="lbody" aria-describedby="lampbody"
                    data-bind="value: slampbody" disabled>
            </div>
            <div class="form-group mx-4 px-4">
                <label for="lshade" class="my-auto text-muted"><small>Lamp shade</small></label>
                <input type="text" class="form-control" id="lshade" aria-describedby="lampshade"
                    data-bind="value: slampshade" disabled>
            </div>
            <div class="mx-4 px-4">
                <button class="btn btn-danger btn-sm" data-bind="enable: selectedLamp, click: deleteLamp"> Delete
                    lamp</button>
            </div>
        </form>
    </div>
</div>
<div class="row p-3" data-bind="visible: selectedLamp">
    <div class="container border p-2 rounded ">
        <div class="mx-auto text-center">
            <h5 class="display-4" style="font-size: 1.4em">Commands</h5>

        </div>
        <div class="container my-2" id="commandArgs">
            <!-- row 1-->
            <div class="mx-auto mb-2  d-flex justify-content-around">
                <form class="form-inline">
                    <select id="selCommand" class="form-control mx-3"
                        data-bind="options: allCommands, optionsCaption: 'Select command', value:selectedCommand">
                    </select>
                    <div class="custom-control custom-switch custom-control-inline text-muted" style="font-size: 0.9em">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1"
                            data-bind="checked:motorOn">
                        <label class="custom-control-label" for="customSwitch1">Motor on/off</label>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline text-muted" style="font-size: 0.9em">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2"
                            data-bind="checked:brightnessMode">
                        <label class="custom-control-label" for="customSwitch2">Automatic brightness control</label>
                    </div>
                </form>
            </div>

            <div class="container mt-2 " data-bind="visible: ccData">
                <div class="form-group p-2 pb-3 mb-2 border rounded">
                    <!-- label -->
                    <div class="d-block border-bottom">
                        <label class="commandLabel mb-0 " style="color: red" for="formControlRange"
                            data-bind="text: ccData().label">Set motor
                            speed</label>
                    </div>
                    <!-- input -->
                    <div class="input-group my-1 mt-3 p-3 mx-auto" id="formControlRange"
                        data-bind="visible: !ccData().select">
                        <input data-bind=" 
                             value: arg1Val, 
                             event:{change: submit},
                             valueUpdate: 'input',
                             enable: arg1State, 
                             attr: { 
                                 type: ccData().input_type, 
                                 min: ccData().min, 
                                 max: ccData().max, 
                                 class: ccData().input_class,  
                                },
                                ">
                        <div class="input-group-append" data-bind="visible: ccData().prepend">
                            <span class="input-group-text" data-bind="text:arg1ValStr">.00</span>
                        </div>
                    </div>

                    <!-- select -->
                    <div class="mx-auto my-2 mt-3 w-50" data-bind="visible: ccData().select">
                        <select id="arg1r" class="form-control mb-1" data-bind="
                                options: arg2Options, 
                                optionsCaption: ccData().caption, 
                                value:arg2Val, 
                                enable: arg2State">
                        </select>
                    </div>

                    <button type="button" class="btn btn-success mt-3" data-bind="click: submit">Submit</button>
                </div>
            </div>

            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class=" mt-4">
                    <label for="fileup" class="my-0 text-left"> <small>Upload file to server</small></label>
                    <input id="fileup" type="file" name="myfile" accept="image/*" class="d-block">
                    <input id="uploadbutton" type="submit" class="btn btn-secondary btn-sm mt-2" value="Submit"
                        name="upload file" />
                </div>
            </form>


        </div>
    </div>

</div>
{% endblock %}